<html>
  <title>CSV Calculator</title> 
  <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  
  <body>
  <div id="main">
   
   <h1 id="header">Comma-Seperated Values File Parser</h1>
   
   <form enctype="multipart/form-data" action="{{upload_url}}" method="post">
     <fieldset>
     <legend>Step 1: Upload Files</legend>
     <input type="file" name="filename" />
     <input id="upload-button" type="submit" value="Upload" />
     </fieldset>
   </form>

   <form action="{{csvparser_url}}" method="post">
     <fieldset>
        <legend>Step 2: Select File to Make Reports</legend>
	<select name="dropdown">
	  <option value="default" selected>******** Uploaded Files ********</option>
    	  {% for blob in uploaded_blobs %}
	  <option value="{{ blob.1 }}">{{ blob.0 }}</option>
    	  {% endfor %}
	</select>
	<input id="report-button" type="submit" value="Make Reports"/>
     </fieldset>
   </form>

   <div id='bottom'>
     <h3>Generated Reports</h3>
     <table id='report-table'>
     <!--<tr>
	<th>Creation Time</th>
	<th>Report Name</th>
     </tr>-->
     {% for blob in rpt_blobs %}
     <tr>
	<td>{{blob.2}}</td> 
	<td><a href="{{blob.1}}">{{blob.0}}</a></td> 
     </tr>
     {% endfor %}
     </table>
   </div>

  </div>	<!-- End of main div -->
  </body>

</html>
