<html>
  <title>CSV Calculator</title> 
  <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  
  <body>
   <div>
     <form enctype="multipart/form-data" action="{{upload_url}}" method="post">
     <div><input type="file" name="filename" /></div>
     <div><input type="submit" value="Upload" /></div>
     </form>
   </div>

   <div>
     <form action="{{csvparser_url}}" method="post">
	<div>
	  <select name="dropdown">
	  <option value="default" selected>-- Files Uploaded --</option>
    	  {% for pair in filekey_pairs %}
		<option value="{{ pair.1 }}">{{ pair.0 }}</option>
    	  {% endfor %}
	  </select>
	</div>
	<div><input type="submit" value="Compute"/></div>
     </form>
   </div>

   <div>
     <h3>Computed CSV files</h3>
     <ul>
     {% for pairurls in rpt_pair_urls %}
	{% if pairurls %}
	<li><a href="{{pairurls.0}}">rpt-month_{{forloop.counter}}.csv</a> : <a href="{{pairurls.1}}">rpt-compy_{{forloop.counter}}.csv</a></li>
	{% endif %}
     {% endfor %}
     <ul>
   </div>
  </body>

</html>
