<html>
  <title>CSV Calculator</title> 
  <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  
  <body>
   
   <div>
     <form enctype="multipart/form-data" action="{{upload_url}}" method="post">
     <div><input type="file" name="filename" /></div>
     <div><input type="submit" value="Upload" /></div>
     </form>
   </div>

   <div>
     <form action="average.py" method="post">
	<div>
	  <select name="dropdown">
	  <option value="files" selected>-- Files Uploaded --</option>
    	  {% for pair in fileurl_pairs %}
		<option value="csvfilename">{{ pair.0 }}</option>
    	  {% endfor %}
	  </select>
	</div>
	<div><input type="submit" value="Compute"/></div>
     </form>
   </div>

   <div>
     <h3>Computed CSV files</h3>
     <ul>
     {% for pair in fileurl_pairs %}
	<li><a href="{{pair.1}}">{{ pair.0 }}</a></li>
     {% endfor %}
     <ul>
   </div>
  </body>

</html>
